// Customize Scroll Bars
::-webkit-scrollbar {width: 10px}
::-webkit-scrollbar-thumb {background: #262626}
::-webkit-scrollbar-track {background: #f2e1d5ff}
.effect--faded {opacity: .9}

body {
  margin: 0;
  background-color: #faf2f0ff;
  font-family: Arial, Helvetica, sans-serif;

  aside {
    top: 0;
    bottom: 0;
    width: 50px;
    z-index: 1000;
    position: absolute;
    background-color: #f2e1d5ff;
    .view__item {
      color: white;
      font-size: 1.5em;
      text-align: center;
      &.view__item--cloud { margin-top: 10px }
      &.view__item--settings {
        bottom: 0;
        width: 100%;
        position: absolute;
        margin-bottom: 10px;
      }
      &:hover {border-color: #4b5854}
    }
  }

  // SIDE MENU
  .menu {
    top: 0;
    bottom: 0;
    left: 50px;
    width: 200px;
    position: absolute;
    background-color: #262626;
    .menu__header {
      height: 40px;
      padding: 10px;
      color: white;
      font-size: 1.5em;
      text-align: left;
      margin-left: 13px;
      box-sizing: border-box;
    }

    // CABINET SIDE MENU
    .cabinet__menu {
      .cabinet__menu__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        .cabinet__menu__item {
          color: white;
          padding: 10px 20px;
          img { vertical-align: middle }
          span {
            vertical-align: middle;
            label { margin-left: 10px }
          }
          &:hover { background-color: darkgrey }
        }
      }
    }
    
    .menu__settings {
      padding: 5px;
      display: none;
      h3 { color: grey; }
      .settings__leave {
        left: 0;
        bottom: 0;
        width: 100%;
        border: none; 
        padding: 2px; 
        outline: none; 
        display: block;
        font-size: 15px;
        margin-top: 20px;
        position: absolute; 
        background-color: #996666;
      }
    }
  }

  // EXPLORER
  .explorer {
    top: 0;
    right: 0;
    bottom: 0;
    left: 250px;
    position: absolute;
    .explorer__header {
      height: 40px;
      font-size: 1.3em;
      text-align: right;
      padding-top: 10px;
      position: relative;
      text-align: center;
      box-sizing: border-box;
      .menu__toggle {
        margin: 5px;
        float: right; 
      }
      .input__field {
        width: 400px;
        border: none;
        outline: none;
        font-size: 20px;
        margin-top: 4px;
        color: #262626;
        text-align: center;
        box-sizing: border-box;
        background-color: rgba(0,0,0,0);
        border-bottom: 2px solid #262626;
      }
    }
    .explorer__cabinet {
      margin-top: 20px;
      .cabinet__navigation {
        height: 30px;
        color: black;
        padding-top: 10px;
        text-align: right;
        position: relative;
        background-color: #f2e1d5ff;
        .fa-cloud {
          float: left;
          margin-left: 10px;
        }
        .navigation__path {
          float: left;
          overflow: auto;
          padding-left: 10px;
          .navigation__folder {
            color: black;
            font-size: 15px;
            margin-right: 30px;
            &:hover {opacity: 0.5}
          } 
        }
        .explorer__options {
          color: black;
          font-size: 1.3em;
          margin-right: 30px;
          &:hover {opacity: 0.5}
        }
      }
    
      .explorer__content {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        margin-top: 100px;
        position: absolute;
        background-color: #faf2f0ff;
        .table {

          // TABLE ROW
          .row {
            color: grey;
            height: 1.9em;
            font-size: 1.3em;
            padding-top: 6px;
            margin-left: 20px;
            margin-right: 20px;
            padding-left: 10px;
            padding-right: 10px;
            box-sizing: border-box;
            border-bottom: 1px solid black;
            &:hover { color:lightgrey; }
            .meta__type {margin-right: 20px;}
            br {display: none}
            .metadata { float: right }
            .thumb__folder {
              width: 1.2em;
              height: 1.2em;
            }
          }

          // TABLE GRID
          .grid {
            width: 4em;
            margin: auto;
            height: 4.5em;
            font-size: 2em;
            margin-top: 10px;
            margin-left: 10px;
            position: relative;
            border-radius: 5px;
            text-align: center;
            vertical-align: top;
            display: inline-block;
            background-color: #1a1a1a29;
            
            .thumb__img {
              width: 100%;
              height: 100%;
              border-radius: 5px 5px 5px 5px;
            }
            .thumb__audio, .thumb__file, .thumb__video--not-working, .thumb__folder, .thumb__pdf {
              width: 3em;
              height: 3em;
              margin: auto;
              //padding: 20px;
              margin-top: 10px;
              border-radius: 5px 5px 0px 0px;
            }
            .thumb__video--working {
              width: 100%;
              height: 80%;
              margin: auto;
              margin-top: 10px;
              border-radius: 5px 5px 0px 0px;
            }
            
            &.files__video[data-working=no] {
              .files__thumb {
                width: 50%;
                height: 30%;
                margin: auto;
                padding: 20px;
                margin-top: 20px;
                border-radius: 5px 5px 0px 0px;
              }
            }
            .node__title {
              left: 5px;
              right: 5px;
              width: 5em;
              bottom: 5px;
              margin: auto;
              font-size: .55em;
              overflow: hidden;
              position: absolute;
              border-radius: 2em;
              background-color: rgba(255,255,255,.3);
            }
            .metadata {
              display: none;
            }
            label i {
              font-size: 2.2em;
              margin-top: .4em;
            }
          }
        }
        
        // MEDIA VIEW
        .media__view {
          top: 0; 
          bottom: 0; 
          width: 100%; 
          display: none; 
          z-index: 1000;
          font-size: 1.3em; 
          position: absolute;
          background-color: black;
          header {
            height: 2em;
            background-color: #262626;
            .media__filename {
              color: white; 
              display: block; 
              margin-top: 7px; 
              margin-left: 10px; 
              position: absolute;
            }
            .media__close {
              float: right; 
              border: none; 
              font-size: 17px; 
              margin-top: 7px; 
              color: darkgrey;  
              margin-right: 20px; 
              border-radius: 3px; 
              background-color: rgba(0,0,0,0); 
            }
          }
    
          // FILE VIEW
          &.view__textarea {
            header {
              .text__save {
                float: right; 
                border: none; 
                font-size: 17px; 
                margin-top: 7px; 
                color: darkgrey; 
                margin-right: 20px;
                box-sizing: border-box;
                background-color: rgba(0,0,0,0); 
              }
              background-color: #262626;
            }
            textarea {
              top: 2em; 
              bottom: 0; 
              width: 100%; 
              border: none; 
              resize: none; 
              outline: none; 
              font-size: 1.1em;
              position: absolute; 
              box-sizing: border-box; 
              background-color: #faf2f0ff; 
            }
          }
    
          // IMAGE CONTENT
          &.view__images {
            text-align: center;
            img {
              height: calc(100% - 2.5em);
            }
          }
          
          // VIDEO CONTENT
          &.view__video {
            text-align: center;
            .video__player {
              height: calc(100% - 2.5em);
            }
          }
        }
      }
    }
  }

  // RIGHT CLICK POPUP
  .options {
    right: 0;
    width: 150px;
    padding: 5px;
    z-index: 1000;
    display: none;
    border-radius: 3px;
    position: absolute;
    background-color: white;
    border: .5px solid black;
    hr {border: .5px solid black}
    div {
      padding: 10px;
      border-radius: 3px;
      &:hover {
        color: white;
        background-color: lightgray;
      }
      img {
        vertical-align: top;
      }
      label {
        margin-left: 5px;
        vertical-align: top;
      }
    }
  }
}

.thumb__folder {
  width: 1em;
  height: 1em;
}

.file {
  .thumb__img, .thumb__video, .thumb__video--not-working, .thumb__file, .thumb__audio, .thumb__pdf {
    width: 1em;
    height: 1em;
  }
}

.thumb__video--working {
  width: 1em;
  border-radius: 5px 5px 0px 0px;
}

@media only screen and (max-width: 600px) {
  .window {width: 100%; left: 0; right: 0;}
  .view__side {display: none }
  .chat__space { width: 100%; }
  .cloud__drive { display: none }
  .chat__people { display: none; }
  .explorer { margin-left: -250px }
  .view__selection { display:none;}
  .explorer__options { display: none }
  .option__list, .option__grid { display: initial; }
  .input__field { width: calc(100% - 50px); margin: 0; }
}