.login {
  font-family: sans-serif;
  background-color: #262626;
}
.login .login__form {
  width: 27em;
  height: 17em;
  margin: auto;
  margin-top: 9em;
  border-radius: 6px;
  text-align: center;
  padding-bottom: 10px;
  background-color: white;
}
.login .login__form header {
  text-align: center;
  border-radius: 6px 6px 0px 0px;
  background-color: #f2e1d5;
}
.login .login__form header label {
  font-size: 3em;
  color: black;
  margin-top: -10px;
}
.login .login__form label {
  text-align: left;
  font-size: 1.5em;
}
.login .login__form input {
  width: 10em;
  border: none;
  outline: none;
  font-size: 1.5em;
  border-radius: 3px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.1);
}
.login .login__form button {
  border: none;
  width: 10.2em;
  outline: none;
  margin-top: 10px;
  font-size: 1.5em;
  border-radius: 3px;
  color: #262626;
  background-color: rgba(0, 0, 0, 0);
}

/*# sourceMappingURL=login.css.map */
