// home.scss
// Customize Scroll Bars
::-webkit-scrollbar {width: 10px}
::-webkit-scrollbar-thumb {background: #262626}
::-webkit-scrollbar-track {background: #f2e1d5ff}
.effect--faded {opacity: .9}

body {
  margin: 0;
  background-color: #faf2f0ff;
  font-family: Arial, Helvetica, sans-serif;
  .view__selection {
    top: 0;
    bottom: 0;
    width: 50px;
    z-index: 1000;
    position: absolute;
    background-color: #f2e1d5ff;
    .view__item {
      color: white;
      font-size: 1.5em;
      text-align: center;
      &.view__item--cloud { margin-top: 10px }
      &.view__item--settings {
        bottom: 0;
        width: 100%;
        position: absolute;
        margin-bottom: 10px;
      }
      &:hover {border-color: #4b5854}
    }
  }

  .menu {
    top: 0;
    bottom: 0;
    left: 50px;
    width: 200px;
    position: absolute;
    background-color: #262626;
    .menu__header {
      height: 40px;
      padding: 10px;
      color: white;
      font-size: 1.5em;
      text-align: left;
      margin-left: 13px;
      box-sizing: border-box;
    }
    // Cabinet Side Menu
    .cabinet__menu {
      .cabinet__menu__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        .cabinet__menu__item {
          color: white;
          padding: 10px 20px;
          img { vertical-align: middle }
          span {
            vertical-align: middle;
            label { margin-left: 10px }
          }
          &:hover { background-color: darkgrey }
        }
      }
    }
    
    .menu__settings {
      padding: 5px;
      h3 { color: grey; }
      .settings__leave {
        left: 0;
        bottom: 0;
        width: 100%;
        border: none; 
        padding: 2px; 
        outline: none; 
        display: block;
        font-size: 15px;
        margin-top: 20px;
        position: absolute; 
        background-color: #996666;
      }
    }
  }
  .explorer {
    top: 0;
    right: 0;
    bottom: 0;
    left: 250px;
    position: absolute;
    .explorer__header {
      height: 40px;
      font-size: 1.3em;
      text-align: right;
      padding-top: 10px;
      position: relative;
      text-align: center;
      box-sizing: border-box;
      .menu__toggle {
        margin: 5px;
        float: right; 
      }
      .input__field {
        width: 400px;
        border: none;
        outline: none;
        font-size: 20px;
        margin-top: 4px;
        color: #262626;
        text-align: center;
        box-sizing: border-box;
        background-color: rgba(0,0,0,0);
        border-bottom: 2px solid #262626;
      }
    }
    .explorer__settings {
      position: relative;
      margin-top: 20px;
      height: calc(100% - 60px);
      .settings__view {
        top: 0; 
        left: 0;
        bottom: 0; 
        right: 25em;
        padding: 5em;
        overflow: auto;
        padding-top: 0px;
        position: absolute;
        .settings__header {
          border: 4px; 
          margin: auto; 
          padding: 20px; 
          margin-top: 10px; 
          position: relative;
          color: #faf2f0ff;
          border-radius: 4px; 
          background-color: #262626;
          label { font-size: 30px;}
          img {
            float: right; 
            margin-top: -.5em;
          }
          
        }
        .settings-summary {
          height: 15em; 
          margin: auto; 
          margin-top: 10px; 
          position: relative;
          border-radius: 5px; 
          background-color: #262626;
          .summary-left {
            width: 16em;
            height: 15em;
            text-align: center;
            vertical-align: top; 
            display: inline-block; 
            border-right: 4px solid #f2e1d5ff; 
            header {
              padding: 5px; 
              text-align: center;
              background-color: #f2e1d5ff; 
              border-radius: 5px 0px 0px 0px; 
            }
          }
          .summary-container {
            right: 0; 
            left: 16em; 
            padding: 10px;
            position: absolute; 
            vertical-align: top; 
            display: inline-block;
            box-sizing: border-box;
            height: 15em;
            .scroll-view {
              height: 8em; 
              overflow: auto;
              table {
                width: 100%;
              }
              table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
              }
              
              td, th {
                color: white;
                border: 1px solid #dddddd;
                text-align: left;
                padding: 5px;
              }
              
              tr:nth-child(even) {
                border: 1px solid white;
              }
            }
          
            img {
              right: 10px;
              bottom: 10px;
              position: absolute;
            }
          }
        }
        .settings__config {
          height: 23em; 
          margin: auto; 
          margin-top: 25px; 
          border-radius: 5px; 
          position: relative;      
          background-color: rgba(255,255,255,.3); 
          background-color: #f2e1d5ff;
          .config__side {
            width: 16em; 
            height: 23em; 
            vertical-align: top; 
            display: inline-block;
            border-right: 4px solid #262626;
            header {
              padding: 5px;
              color: #f2e1d5ff;
              text-align: center;
              background-color: #262626;
              border-radius: 5px 0px 0px 0px;
            }
          }
          .config__main {
            right: 0;
            left: 17em;
            height: 23em;
            position: absolute;
            vertical-align: top;
            display: inline-block;
            button {
              border: none;
              padding: 5px;
              font-size: 1em; 
              border-radius: 3px; 
              background-color: tan; 
            }
            hr {
              border: 1px solid #262626
            }
            label {
              right: .5em; 
              bottom: 1em; 
              width: 100px;
              color: #cf6e4a; 
              font-size: 1.3em; 
              position: absolute;
              border-radius: 3px; 
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        .settings__security {
          margin: auto; 
          margin-top: 15px; 
          border-radius: 5px; 
          position: relative;
          hr { border: 1px solid tan; }
          .security__options {
            .options__password {
              width: 30%; 
              height: 12em; 
              text-align: center; 
              position: relative;
              display: inline-block; 
              border-radius: 5px;
              background-color: #262626;
              h3 {
                color: white;
              }
              input {
                width: 12em; 
                border: none; 
                outline: none; 
                height: 1.3em;
                font-size: 1.1em;
                border-radius: 2px;
                color: black;
                background-color: #faf2f0ff;
                &::placeholder { color: black }
              }
              button {
                left: 0;
                right: 0;
                width: 8em;
                height: 2em;
                border: none;
                margin: auto;
                bottom: 10px;
                outline: none; 
                position: absolute;
                border-radius: 2em;
                background-color: tan;
              }
            }
            .options__log {
              width: 36%; 
              height: 12em; 
              margin-left: 1em;
              border-radius: 5px;
              position: relative;
              text-align: center; 
              vertical-align: top;
              display: inline-block; 
              background-color: #262626;
              h3 { color: white; }
              input {
                border: none; 
                outline: none;
                height: 1.3em;
                width: 12em; 
                font-size: 1.1em;
                border-radius: 2px;
                color: black;
                background-color: #faf2f0ff;
                &::placeholder { color: black }
              }
              button {
                left: 0;
                right: 0;
                bottom: 10px;
                width: 8em;
                height: 2em;
                border: none; 
                margin: auto;
                outline: none; 
                position: absolute;
                border-radius: 4em;
                background-color: tan;
              }
            }
            .options__other {
              width: 30%;
              height: 12em;
              position: relative;
              float: right;
              text-align: center;
              vertical-align: top;
              display: inline-block;
              border-radius: 5px;
              background-color: #262626;
              h3 {
                color: white;
              }
              p {
                font-size: 2em; color: white;
              }
              button {
                left: 0;
                right: 0;
                bottom: 10px;
                height: 2em;
                width: 8em;
                border: none; 
                margin: auto;
                outline: none; 
                position: absolute;
                border-radius: 4em;
                background-color: tan;
    
              }
            }
          }
        }
        .chat__messages {
          width: 100%;
          overflow-y: scroll;
          padding-left: 10px;
          height: calc(100% - 5em);
          &::-webkit-scrollbar {width: 0px}
          .message__bubble {
            padding: 20px; 
            margin-top: 10px; 
            border-radius: 4px; 
            display: inline-block; 
          }
        }
        footer {
          bottom: 0; 
          width: 50%; 
          margin: auto; 
          outline: none;
          padding: 10px;
          font-size: 18px; 
          position: absolute; 
          box-sizing: border-box; 
          .input__container {
            padding: 10px; 
            border-radius: 6px;
            background-color: rgba(255,255,255,.3); 
            .container__2 {
              height: 35px; 
              position: relative; 
              border-radius: 4px; 
              display: inline-block;
              width: calc(100% - 4em); 
              background-color: orange;
              .msg__input {
                top: 0; 
                bottom: 0; 
                border: none;
                outline: none;
                font-size: 1.4em; 
                position: absolute;
                box-sizing: border-box;
                width: calc(100% - 90px); 
                background-color: darkgrey; 
                border-radius: 4px 0px 0px 4px; 
              }
              .msg__send {
                top: 0; 
                right: 0; 
                bottom: 0; 
                width: 5em; 
                border: none; 
                font-size: 18px;
                position: absolute;
                background-color: white;
                border-radius: 0px 2px 2px 0px; 
              }
            }
            .image__container {
              height: 35px; 
              padding: 3px 10px; 
              border-radius: 4px;
              vertical-align: top;
              display: inline-block; 
              box-sizing: border-box; 
              background-color: lightgrey;
              span { vertical-align: middle }
            }
          }
        }
        .server-shutdown { 
          color: #996666;
          text-align: center; 
        }
      }
      .settings__log {
        top: 0; 
        right: 0;
        bottom: 0; 
        width: 25em; 
        padding-left: 10px;
        padding-right: 10px;
        position: absolute; 
        box-sizing: border-box;
        border-left: 2px solid #f2e1d5ff;
        .chat__messages {
          width: 100%;
          overflow-y: scroll;
          height: calc(100%);
          &::-webkit-scrollbar {width: 0px}
          .message__bubble {
            padding: 20px; 
            margin-top: 10px; 
            border-radius: 4px; 
            display: inline-block;
            background-color: tan;
          }
        }
        .group__name {
          text-decoration: underline;
        }
      }
    }
  }
}



@media only screen and (max-width: 600px) {
  .view__side {display: none }
  .chat__space { width: 100%; }
  .cloud__drive { display: none }
  .chat__people { display: none; }
  .explorer { margin-left: -250px }
  .view__selection { display:none;}
  .explorer__options { display: none }
  .option__list, .option__grid { display: initial; }
  .input__field { width: calc(100% - 50px); margin: 0; }
}

